.textarea
    display block
    border-radius 4px
    background #fff
    border 0
    display block
    padding 5px 16px
    outline 0
    width 100%
    line-height: normal;
    min-height 160px

.label
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    color: #848e99;

.radio
    position relative
    min-height 24px
    padding-top 1px
    margin-bottom 14px
    color $text
    cursor pointer
    display flex
    flex-flow row wrap
    &__input
    input[type="radio"]
        display none
    &__label
    label
        font-weight normal
        padding-left 36px
        padding-top 1px
        line-height 20px
        cursor pointer
        &:before
            content ''
            position absolute
            display inline-block
            width 24px
            height 24px
            border-radius 50%
            background #fff
            border 1px solid $textGray
            left 0
            top 0
        &:after
            content ''
            position absolute
            display inline-block
            width 8px
            height 8px
            border-radius 50%
            background #fff
            left 8px
            top 8px
            transform scale(0)
            transition all 0.3s ease
    &:hover &__input:not([disabled]) + &__label:before
    &:hover input:not([disabled]) + label:before
        border-color $blue
    &__input:checked + &__label:before
    input:checked + label:before
        background $blue
        border 0
    &__input:checked + &__label:after
    input:checked + label:after
        transform scale(1)
    &:hover &__input:not([disabled]) + &__label
        color $blue

.checkbox
    position relative
    min-height 24px
    margin-bottom 14px
    color $text
    cursor pointer
    display flex
    align-items center
    &__input
        display none
    &__label
        padding-left 36px
        padding-top 1px
        line-height 20px
        cursor pointer
        &:before
            content ''
            position absolute
            display inline-block
            background #fff
            width 24px
            height 24px
            border 1px solid $textGray
            left 0
            top 6px
            border-radius 4px
            transition all 0.3s ease
        &:after
            background-color: transparent;
            content: "";
            display: block;
            position: absolute;
            left: 10px;
            top: 12px;
            width: 5px;
            height: 9px;
            opacity: 0;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
        a:hover
            text-decoration underline
    &:hover &__input:not([disabled]) + &__label:before
        border-color $blue
    &__input:checked + &__label:before
        background $blue
        border 0
    &__input:checked + &__label:after
        opacity 1
    &__input:checked + label
        font-weight 500
    &:hover &__input:not([disabled]) + &__label
        color $blue


