$l = 'screen and (max-width: 1180px)'
$m = 'screen and (max-width: 960px)'
$m860 = 'screen and (max-width: 860px)'
$m768 = 'screen and (max-width: 768px)'
$s = 'screen and (max-width: 540px)'



//$c1 = #ff5a64//0%,
$blue = #1D2E79
$purple = #7b0fb5
$purpleLight = #c475ef

$bg = #f5f8fd
$bgGray = #f3f3f3
$text = #464646
$textGray = #979AA4