.footer
    .footer__inner
        .footer__row
            .footer__col
                .footer__text
                    p © Интеллект-1С 2023 Все права защищены.
                    p Используем cookies для корректной работы сайта, персонализации пользователей и других целей, предусмотренных политикой.
                    a(href="#") Политика обработки персональных данных
            .footer__col 
                .menu
                    a.menu__item(href="#")
                        .menu__item-icon
                            span.iconify(data-icon='mdi:email-outline')
                        .menu__item-title Контакты
                    a.menu__item(href="#")
                        .menu__item-icon
                            span.iconify(data-icon='mdi:heart-outline')
                        .menu__item-title Избранное
                    a.menu__item(href="#")
                        .menu__item-icon 
                            span.iconify(data-icon='mdi:cart-outline')
                        .menu__item-title Корзина
                    a.menu__item(href="#")
                        .menu__item-icon
                            span.iconify(data-icon='mdi:account-outline')
                        .menu__item-title Аккаунт
                .footer__col-right
                    p Поддержка: с 8:00 до 19:00 по Мск (пн-пт).
                    .footer__contacts
                        a.footer__contacts-item(href="#")
                            .footer__contacts-item-icon
                                span.iconify(data-icon='mdi:email-outline')
                            .footer__contacts-item-title Электронная почта
                        a.footer__contacts-item(href="#")
                            .footer__contacts-item-icon
                                span.iconify(data-icon='basil:telegram-solid')
                            .footer__contacts-item-title @ivanklesh