.header 
    .header__inner 
        a.header__logo(href="index.html")
            img(src="f/i/logo.svg")
        .hamburger.hamburger--3dx
            .hamburger-box
                .hamburger-inner
        .menu
            a.menu__item(href="#")
                .menu__item-icon
                    span.iconify(data-icon='mdi:email-outline')
                .menu__item-title Контакты
            a.menu__item(href="#")
                .menu__item-icon
                    span.iconify(data-icon='mdi:heart-outline')
                .menu__item-title Избранное
            a.menu__item(href="#")
                .menu__item-icon 
                    span.iconify(data-icon='ion:cart-outline')
                .menu__item-title Корзина
            a.menu__item(href="#")
                .menu__item-icon
                    span.iconify(data-icon='mdi:account-outline')
                .menu__item-title Аккаунт